@font-face {
  font-family: 'spacebar';
  src: url('SPACEBAR.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('SPACEBAR.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

body {
  background-image: url("Stars-fixed.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button.link {
  color: white; 
  cursor: pointer;
  background-color: transparent; 
  border:none;
  backgrounf:none;
  border
  text-decoration: none;
  font-size: 20pt;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
	font-size: 25pt;
}

			div.div { 
    				margin: 20px;
				color: #FFFFFF;
				font-size: 20pt;
				padding: 10px 10px;
				background-color: blue;
				-moz-border-radius: 15px;
				-webkit-border-radius: 15px;
				border-style: solid;
				border-colour: white;
			}

a:hover {
	font-size: 25pt;
	  cursor: pointer;
}

a:link {
  color: white; 
  cursor: pointer;
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  cursor: pointer;
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  cursor: pointer;
  color: white;
  background-color: transparent;
  text-decoration: none;
}
h1  {
       text-align: center;
       font-size: 30pt;
       font-family: spacebar;
       color: #FFFFFF;
       margin-bottom: 5px;
    }
    
    table {
       margin: 5px;
       width: 290px;
    }
    
    th {
       padding: 3px;
    }
    
    td {
       padding-left: 8px;
       padding-right: 8px;
       border: 1px solid #990000;
       background-color: #ffffcc;
    }
    
    #trHeader {
       text-decoration: underline;
       color: #990000;
    }
    
    .centerCell {
       text-align: center;
    }
